<link href="/styles/storyPreview.css" rel="stylesheet" />

<a href="story/{{_id}}" class="suppressHyperlinkStyle">
    <article class="storyPreview">
        <h3 class="title text-center">{{title}}</h3>
        <small class="dateCreated">
            <time datetime={{dateCreated}}>{{dateCreated}}</time>
        </small>
        <hr>
        <p class="subTitle">{{subTitle}}</p>
    </article>
</a>
