{{#section 'pageTitle'}}
<title>Story!</title>
{{/section}}

{{#section 'pageStyles'}}
    <style>
        .jumbotron h1 {
            font-size: 3em;
        }
        .jumbotron h2 {
            font-size: 2em;
            color:grey;
        }
        .story-content {
            line-height:1.5em;
        }
        .formContainer {
            margin-top:2em;
        }
    </style>
{{/section}}

<article class="container">
    <div class="jumbotron text-center">
        <h1>{{story.title}}</h1>
        <br>
        <small>{{story.dateCreated}}</small>
        <br>
        <h2>{{story.subTitle}}</h2>
    </div>
	<p class="story-content">
	{{story.content}}
	</p>
</article>

<div class="container formContainer">
{{#if isOwner}}
<form method="GET" action="#">
    <input type="submit" class="btn btn-info" value="Edit story" formaction="/write/{{story._id}}" />
    <input type="submit" class="btn btn-danger pull-right" value="Delete story" formaction="/deleteStory/{{story._id}}" />
</form>
{{/if}}

</div>