{{#section 'pageTitle'}}
<title>Story!</title>
{{/section}}

<article class="container">
	<div class="rcw text-center">
		<h1>{{story.title}}
			<br>
			<small>{{story.subTitle}}</small>
		</h1>
		{{story.dateCreated}}
	</div>
	<p>
	{{story.content}}
	</p>
</article>

<form method="GET" action="#">
    <input type="submit" class="btn btn-info" value="Edit story" formaction="/write/{{story._id}}" />
    <input type="submit" class="btn btn-danger" value="Delete story" formaction="/deleteStory/{{story._id}}" />
</form>

